@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0px;
}
.main {
    max-width: 75%;
    margin: 0px auto;
}

.grid-mt{
    margin-top: 5%;
}

.SuperEarth {
    color: burlywood;
}

.white-btn{
    color: white;
}

.link-wrapper a{
    text-decoration: none;
    color: inherit;
}

.head-logo{
    flex-grow: 1; 
}