@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.d-flex{
    display: flex;
}

.justify-around{
    justify-content: space-around;    
}

.justify-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.justify-right{
    justify-content: right;
}

.align-i-center {
    align-items: center;
}

.mr-auto{
    margin-right: auto;
}

.text-dec-no a{
    text-decoration: none;
}

.text-dec-no a:visited{
    color: inherit;
    text-decoration: none;    
}

.main {
    max-width: 75%;
    margin: 0px auto;
}

.grid-mt{
    margin-top: 5%;
}

.SuperEarth {
    color: burlywood;
}

.white-btn{
    color: white;
    flex-basis: 20%;
}

.link-wrapper a{
    text-decoration: none;
    color: inherit;
}

.head-logo{
    flex-grow: 1; 
}

.fb-15{
    flex-basis: 15%;
}

.fb-20{
    flex-basis: 20%;
}

.mw-200 {
    max-width: 200px;
}

.mw-50-p {
    max-width: 50%;
}

.pt-20{
    padding-top: 20px;
}

.MuiCardActions-spacing{
    justify-content: space-around;
}