@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
}



.d-flex{
    display: flex !important;
}

.justify-around{
    justify-content: space-around;    
}

.justify-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.justify-right{
    justify-content: right;
}

.align-i-center {
    align-items: center;
}
.align-i-self-end{
    align-items: self-end;    
}
.align-i-self-start{
    align-items: self-start;    
}

.mr-auto{
    margin-right: auto;
}

.text-dec-no a{
    text-decoration: none;
}

.text-dec-no a:visited{
    color: inherit;
    text-decoration: none;    
}

.main {
    max-width: 75%;
    margin: 0px auto;
    min-width: 1100px;    
}

.grid-mt{
    margin-top: 5%;
    min-width: 1100px !important;
}

.SuperEarth {
    color: burlywood;
}

.white-btn{
    color: white !important;
    flex-basis: 20%;
}

.white {
    color: white !important;    
}

.link-wrapper a{
    text-decoration: none;
    color: inherit;
}

.head-logo{
    flex-grow: 1; 
}

.header-pad {
    padding: 0px 13% !important;    
}

.h-min-65{
    min-height: 65px;
}

.fb-15{
    flex-basis: 15%;
}

.fb-20{
    flex-basis: 20%;
}

.fb-50{
    flex-basis: 50%;
}

.m-0 {
    margin: 0px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mw-200 {
    max-width: 200px;
}

.mw-85{
    max-width: 85%;
}

.pt-20{
    padding-top: 20px;
}

.MuiCardActions-spacing{
    justify-content: space-around;
}

.w-30-p{
    width: 20%;
}

.self-center {
    align-self: center;
}

.fb-15 {
    flex-basis: 15%;
}

.self-end {
    align-self: end;
}

.gap-20 {
    gap: 20px;
}

.min-40 {
    min-height: 40px;
}

.main-parent {
    min-width: 1100px;    
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.footer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-direction: column-reverse;
}

